.CardsContainer {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cardsTitle {
    font-size: 30px;
    margin-top: 100px;
    color: white;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

.cardImg {
    width: 200px;
    border-radius: 20px;
}

.movieName {
    margin-top: 20px;
    font-weight: lighter;
    font-size: 15px;
    margin-bottom: 50px;
    color: white;
}